<script src="jquery-3.3.1.min.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/stylesheets/bootstrap.min.js"></script>
<link href="/stylesheets/Login.css" rel="stylesheet">
<link href="/stylesheets/animations.css" rel="stylesheet">
<script src="/javascript/Control.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class=" fadeInDown SlideExpandUp" >
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <!-- Icon -->
    <div class="fadeIn first" >
      <img src="../simbol.jpg" id="icon" alt="User Icon" />
      <h1>컴퓨터공학전공 <br>코딩페스티벌</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="사용자 ID">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="비밀번호">
      <input type="submit" class="fadeIn fourth" value="로그인" src="Main.html">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="http://ce.jejunu.ac.kr/">제주대학교 컴공 바로가기</a>
    </div>

  </div>
</div>
<div>

</div>